.banner {
    width: 100%;
    position: relative;
    height: 150px;
    background-image: url('../../../assets/bg_contactus.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 14%;
}

.category-name {
    text-align: center;
    position: absolute;
    transform: translate(165px, 53px);
    left: 36%;
    font-weight: bold;
    font-size: 34px;
}

.all-products {
    font-weight: bold;
    font-size: 30px;
}

.welcome-section {
    box-shadow: -1px 1px 7px 0px grey;
    padding: 10px;
    border-radius: 15px;
    margin-top: 23px;
    margin-bottom: 23px;
    text-align: center;
    border: 3px solid goldenrod;
}

.about-usword {
    font-size: 25px;
}