<div class="main-body">
  <body>
    <div class="container">
      <div class="card-servies spaces">
        <div class="face face1 bg-color-1 new-way">
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <img
              class="service-image"
              src="https://www.galard.cz/uploads/icons/icon-help.svg"
            />
            <h3 class="fw-bold mt-4">We can help you</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content text-center content-style">
            <p>
              Do you still not know where to start when buying new clothes?
              Which items of clothing will combine well together and which will
              suit you? Our fashion consultants are here to help you.
            </p>
          </div>
        </div>
      </div>

      <div class="card-servies spaces">
        <div class="face face1 bg-color-1 new-way">
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <img
              class="service-image"
              src="https://www.galard.cz/uploads/icons/icon-car.svg"
            />
            <h3 class="fw-bold mt-4">We can come to you</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content text-center content-style">
            <p>
              Do you require a new suit but find yourself too pressed for time
              to visit us? It is no problem for us. You can choose and try on
              new clothes in your own home or office. We can also deliver your
              completed suit to whatever address you require.
            </p>
          </div>
        </div>
      </div>

      <div class="card-servies spaces">
        <div class="face face1 bg-color-1 new-way">
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <img
              class="service-image"
              src="https://www.galard.cz/uploads/icons/icon-express.svg"
            />
            <h3 class="fw-bold mt-4">Express service</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content text-center content-style">
            <p>
              If you require a new suit or shirt faster than usual we can also
              offer express manufacture and delivery. For an extra fee we can
              tailor make a new suit or shirt within just 1 week. .
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
