.welcome-row {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}


.welcome-section {
    box-shadow: -1px 1px 7px 0px grey;
    padding: 10px;
    border-radius: 15px;
    margin-top: 23px;
    margin-bottom: 23px;
    text-align: center;
    border: 3px solid goldenrod;
}