<div
  class="container-fluid animate__animated animate__fadeInDown animate__slower-3s"
>
  <div class="row welcome-row">
    <div class="col-md-12">
      <div class="welcome-section">
        <h3 class="text-center">Welcome</h3>
        <p>
          KhayatApp is a full service alterations company that specializes in
          tailor shopping. We are the #1 choice of DFW brides and Miss America
          and Miss Texas beauty pageant contestants. With over 30 years of
          experience, we offer complete and custom bead work and embellishments
          on all types of evening gowns, wedding dresses, and both men’s and
          women’s formal wear.
        </p>
      </div>
    </div>
  </div>
</div>
