<div
  class="FAQ-container col-sm-12 col-md-10 col-lg-8 d-flex justify-content-center"
>
  <div
    class="CurrentLang === 'en' ? 'animate__animated animate__fadeInLeft animate__slow 3s container space-top' : 'animate__animated animate__fadeInRight animate__slow 3s container space-top'"
  >
    <div class="row">
      <div class="col-12 p-0 mt-4">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
          <ngb-panel
            title="When should I schedule my alteration ?"
            id="config-panel-one"
          >
            <ng-template ngbPanelContent>
              Schedule your first bridal alteration 8-12 weeks prior to your
              wedding day. This gives you plenty of time for a second fitting
              and also any changes you may desire prior to your special day.
            </ng-template>
          </ngb-panel>
          <ngb-panel title="How long are fittings ?">
            <ng-template ngbPanelContent>
              The first fitting will be the longest, usually around 30-45
              minutes. Second and third fittings are usually 20 minutes or less.
            </ng-template>
          </ngb-panel>

          <ngb-panel title="Who can come to my fittings ?">
            <ng-template ngbPanelContent>
              The first fitting will be the longest, usually around 30-45
              minutes. Second and third fittings are usually 20 minutes or less.
            </ng-template>
          </ngb-panel>

          <ngb-panel title="How much do alterations cost ?">
            <ng-template ngbPanelContent>
              Depending on what you need done to your dress, alteration fees can
              be as nominal as $100, to well over $1000. Every dress and every
              woman is unique, in order to give you the most accurate price we
              encourage you to come in for your complimentary consultation.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
