<div class="banner"></div>

<div class="container-fluid p-3">
  <div class="row">
    <div
      class="col-md-6 animate__animated animate__fadeInLeft animate__slow-2s"
    >
      <form [formGroup]="ContactForm">
        <div class="row">
          <div class="col-12 mb-3">
            <div class="form-gorup">
              <input
                class="form-control"
                placeholder="Full name"
                type="text"
                formControlName="name"
              />
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="form-group">
              <input
                class="form-control"
                type="number"
                min="0"
                placeholder="Phone number"
                formControlName="phone"
              />
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="form-group">
              <input
                class="form-control"
                type="email"
                placeholder="E-mail"
                formControlName="email"
              />
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <textarea
                class="form-control"
                type="text"
                placeholder="Message"
                formControlName="message"
                rows="4"
                cols="60"
              ></textarea>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-md-12 text-center">
          <button
            class="send-button btn"
            [disabled]="ContactForm.invalid"
            (click)="SendData()"
          >
            Send
          </button>
        </div>
      </div>
    </div>

    <div
      class="col-md-6 animate__animated animate__fadeInRight animate__slow-2s"
    >
      <h3 class="text-center">Contact us</h3>
      <p>
        Want to connect with Khayat App? Please use the contact information
        below, or fill out our general inquiries form.
      </p>
      <ol>
        <li><i class="fas fa-envelope-open-text"></i>Khyatapp@gmail.com</li>
        <li><i class="fas fa-mobile"></i>01144877526</li>
        <li><i class="fas fa-map-pin"></i>12 , dokki street</li>
      </ol>
    </div>
  </div>

  <div class="row mt-3 animate__animated animate__fadeIn animate__slow-3s">
    <div class="col-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3412.751105916588!2d30.005792085012455!3d31.199913781476795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5db6ebaa73c37%3A0x7eb959c4e2103a64!2z2YXZgtixINit2KzYsiDYs9mF2YjYrdipINin2YTYrNiv2YrYr9ip!5e0!3m2!1sar!2seg!4v1646479941558!5m2!1sar!2seg"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
