<div class="row w-100">
  <div class="col-md-12 text-center">
    <h5 class="catogries p-3">Main Categories</h5>
  </div>
</div>
<div class="row w-100 justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="img-holder" (click)="ShowAllProducts()">
        <img
          class="category-image"
          src="../../../assets/product-suits.jpg"
          alt="Card image cap"
        />
        <div class="img-caption">Category name</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" (click)="ShowAllProducts()">
      <div class="img-holder">
        <img
          class="category-image"
          src="../../../assets/product-shirts.jpg"
          alt="Card image cap"
        />
        <div class="img-caption">Category name</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" (click)="ShowAllProducts()">
      <div class="img-holder">
        <img
          class="category-image"
          src="../../../assets/product-accessories.jpg"
          alt="Card image cap"
        />
        <div class="img-caption">Category name</div>
      </div>
    </div>
  </div>
</div>
