.banner {
    width: 100%;
    position: relative;
    height: 150px;
    background-image: url('../../../assets/bg_contactus.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 14%;
}

.category-name {
    text-align: center;
    position: absolute;
    transform: translate(100px, 49px);
    left: 36%;
    font-weight: bold;
    font-size: 34px;
}

.all-products {
    font-weight: bold;
    font-size: 30px;
}

.product-card {
    box-shadow: 1px 3px 26px -4px lightgrey;
    border: 4px solid lightgrey;
    border-radius: 25px;
    padding: 18px;
}

.product-holder {
    margin-left: auto;
    margin-right: auto;
    padding: 38px;
}

.product-img {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;
    display: block;
    border: 4px solid #000;
    border-radius: 50%;
    padding: 10px;
}

.product-name {
    padding: 17px;
    font-weight: bold;
}

.product-details-section {
    border-left: 5px dashed lightgray;
}

.price {
    font-size: 20px;
}