<div class="container-fluid bg-white-new">
  <div class="row w-100">
    <div class="col-12">
      <h5 class="text-center catogries p-3">How we began</h5>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-md-8">
      <div class="began-word">
        <p class="text-center">
          The idea of having a men’s bespoke tailors first appeared in the mind
          of a young gentleman who had for a long time searched in vain for a
          shirt which would perfectly fit him. He decided therefore to start
          offering tailor made shirts for people for those in the same
          situation, ill served by the gentleman’s outfitters of the time. The
          enthusiastic response of his customers inspired the young entrepreneur
          to widen the services he offered to include tailor made suits, which
          until then many Czech men had only been able to dream of. The next
          step was to increase the range of products with high quality handmade
          shoes and tasteful gentleman’s accessories. We have now been operating
          as leading tailors for 9 years and we owe our success to our belief in
          honesty and hard work.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="makana-img" src="../../../assets/MG_5749_final.jpg" />
    </div>
  </div>
</div>
