<div class="container-fluid remove-overflow">
  <div class="animate__animated animate__fadeIn animate__slow-3s">
    <video
      class="lazy loaded"
      data-src="../../../assets/tailor-store-major-lines-2021.mp4"
      poster="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjQ6IjIwMDAiO3M6NjoiaGVpZ2h0IjtzOjA6IiI7fQ%3D%3D/images/cms/tailor-store-major-lines-2021.jpg"
      autoplay="yes"
      loop="yes"
      overflow="hidden"
      playsinline=""
      muted=""
      src="//cdn.tailorstore.com/video/tailor-store-major-lines-2021.mp4"
      data-was-processed="true"
    ></video>
  </div>
</div>

<div
  class="container-fluid animate__animated animate__fadeInDown animate__slower-3s"
>
  <div class="row welcome-row">
    <div class="col-md-12">
      <div class="welcome-section">
        <h3 class="text-center">Welcome</h3>
        <p>
          KhayatApp is a full service alterations company that specializes in
          tailor shopping. We are the #1 choice of DFW brides and Miss America
          and Miss Texas beauty pageant contestants. With over 30 years of
          experience, we offer complete and custom bead work and embellishments
          on all types of evening gowns, wedding dresses, and both men’s and
          women’s formal wear.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="main-body">
  <body>
    <div class="container">
      <div class="card-servies">
        <div class="face face1 bg-color-1">
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <img src="https://www.galard.cz/uploads/icons/icon-help.svg" />
            <h3 class="fw-bold mt-4">We can help you</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content text-center">
            <p>
              Do you still not know where to start when buying new clothes?
              Which items of clothing will combine well together and which will
              suit you? Our fashion consultants are here to help you.
            </p>
          </div>
        </div>
      </div>

      <div class="card-servies">
        <div class="face face1 bg-color-1">
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <img src="https://www.galard.cz/uploads/icons/icon-car.svg" />
            <h3 class="fw-bold mt-4">We can come to you</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content text-center">
            <p>
              Do you require a new suit but find yourself too pressed for time
              to visit us? It is no problem for us. You can choose and try on
              new clothes in your own home or office. We can also deliver your
              completed suit to whatever address you require.
            </p>
          </div>
        </div>
      </div>

      <div class="card-servies">
        <div class="face face1 bg-color-1">
          <div
            class="content d-flex flex-column align-items-center justify-content-center"
          >
            <img src="https://www.galard.cz/uploads/icons/icon-express.svg" />
            <h3 class="fw-bold mt-4">Express service</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content text-center">
            <p>
              If you require a new suit or shirt faster than usual we can also
              offer express manufacture and delivery. For an extra fee we can
              tailor make a new suit or shirt within just 1 week. .
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

<div class="row w-100">
  <div class="col-md-12 text-center">
    <h5 class="catogries p-3">Main Categories</h5>
  </div>
</div>

+
<div class="row w-100 justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="img-holder" (click)="ShowAllProducts()">
        <img
          class="category-image"
          src="../../../assets/product-suits.jpg"
          alt="Card image cap"
        />
        <div class="img-caption">Category name</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" (click)="ShowAllProducts()">
      <div class="img-holder">
        <img
          class="category-image"
          src="../../../assets/product-shirts.jpg"
          alt="Card image cap"
        />
        <div class="img-caption">Category name</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" (click)="ShowAllProducts()">
      <div class="img-holder">
        <img
          class="category-image"
          src="../../../assets/product-accessories.jpg"
          alt="Card image cap"
        />
        <div class="img-caption">Category name</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white-new">
  <div class="row w-100">
    <div class="col-12">
      <h5 class="text-center catogries p-3">How we began</h5>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-md-8">
      <div class="began-word">
        <p class="text-center">
          The idea of having a men’s bespoke tailors first appeared in the mind
          of a young gentleman who had for a long time searched in vain for a
          shirt which would perfectly fit him. He decided therefore to start
          offering tailor made shirts for people for those in the same
          situation, ill served by the gentleman’s outfitters of the time. The
          enthusiastic response of his customers inspired the young entrepreneur
          to widen the services he offered to include tailor made suits, which
          until then many Czech men had only been able to dream of. The next
          step was to increase the range of products with high quality handmade
          shoes and tasteful gentleman’s accessories. We have now been operating
          as leading tailors for 9 years and we owe our success to our belief in
          honesty and hard work.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img class="makana-img" src="../../../assets/MG_5749_final.jpg" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row w-100">
    <div class="col-12">
      <h5 class="text-center catogries p-3">Our Products Sample</h5>
    </div>
  </div>

  <div class="row w-100 justify-content-center">
    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/product-image-placeholder.jpg"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
          </div>
          <div class="flip-card-back">
            <h1>Product name</h1>
            <p>Product details will be here</p>
            <button
              class="details-button w-100 btn btn-dark btn-group-lg"
              (click)="ShowDetails()"
            >
              Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/product-image-placeholder.jpg"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
          </div>
          <div class="flip-card-back">
            <h1>Product name</h1>
            <p>Product details will be here</p>
            <button
              class="details-button w-100 btn btn-dark btn-group-lg"
              (click)="ShowDetails()"
            >
              Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../../assets/product-image-placeholder.jpg"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
          </div>
          <div class="flip-card-back">
            <h1>Product name</h1>
            <p>Product details will be here</p>
            <button
              class="details-button w-100 btn btn-dark btn-group-lg"
              (click)="ShowDetails()"
            >
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid bg-white-new">
  <div class="row w-100 last-banner">
    <div class="col-md-12">
      <div class="customised-img-banner">
        <img class="custom-product" src="../../../assets/shirts.jpg" />
        <button class="btn btn-success" (click)="GotoCustomisation()">Customize you shirt now</button>
      </div>
    </div>
    <img class="custom-product" src="../../../assets/shirts.jpg" />
    <div class="img-caption">Customize you shirt</div>
  </div>
</div> -->
