<div class="container-fluid remove-overflow">
  <div class="animate__animated animate__fadeIn animate__slow-3s">
    <video
      class="lazy loaded"
      data-src="../../../../assets/tailor-store-major-lines-2021.mp4"
      poster="https://images.tailorstore.com/YToyOntzOjU6IndpZHRoIjtzOjQ6IjIwMDAiO3M6NjoiaGVpZ2h0IjtzOjA6IiI7fQ%3D%3D/images/cms/tailor-store-major-lines-2021.jpg"
      autoplay="yes"
      loop="yes"
      overflow="hidden"
      playsinline=""
      muted=""
      src="//cdn.tailorstore.com/video/tailor-store-major-lines-2021.mp4"
      data-was-processed="true"
    ></video>
  </div>
</div>
